@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.grid-section {
  @extend %section;
  background-color: var.$background-color-secondary;
  .wrapper {
    @extend %wrap;
    .card-wrapper {
      max-width: 100%;
      display: flex;
      .card {
        @extend %card;
        background-color: var.$background-color-base;
        &:not(:last-child) {
          margin-right: 20px;
          .inner-card {
            img {
              padding-bottom: var.$gutter-base * 1;
            }
            .inner-card-text {
              @extend %wrap;
              padding-bottom: var.$gutter-base * 1;
              @include mix.btn;
            }
          }
        }
      }
    }
  }
}
