@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

.grid-section {
  @extend %section;
  .wrapper {
    @extend %wrap;
    .card-wrapper {
      max-width: 100%;
      display: flex;
      .card {
        @extend %card;
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }
}
